*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
 }

 main{
    background-color: $color-fondo;
  }

 /*estilo footer*/
footer{
    display: flex;
    background-color:whitesmoke;
    border: $borde;
    justify-content: center;
    flex-direction: row;


    & :hover{
        box-shadow: 5px;
        color: $color-footer;
        transform: scale(1.2,1.2);
     
    }
      
    
     & a{
        text-decoration: none;
        color: $color-titulos;
    }
     
    
    
    .icon_twitter{
        font-size: 30px;
        padding-right: 25px;
    }
     
    .icon_facebook{
       @extend .icon_twitter;
    }
     
    .icon_instagram{
        @extend .icon_twitter;
    }

 }
 
 form{
    width: 335px;
    min-height: 100px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 2em;
    background-color: rgb(223, 117, 52);
    grid-area: a2;
    width: auto;
    display: inline-block;
    font-family: $fuentes;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 30px;
    
    .col-12{
        padding-left: 30px;

    }

    }

    
    @media only screen and (max-width:600px){
        form{
           width: 300px;
           min-height: 100px;
           margin: auto;
           margin-top: 30px;
           padding-left: 20px;
           grid-area: a2;
           font-size: small;
           
        }
     
     }
    
    nav{
        color: $color-titulos;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-top: 20px;


    }

    i {
        color: $color-titulos;
        &:hover{
            color: $color-footer;
        }
    } 