/*grilla index*/

.grid_article{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas: "a1"
                         "a2"
                         "a3";
    .subtitulo{
        color: $color-titulos;
        font-family:$fuentes;
        display: block;
        text-align: center;
        padding-bottom: 25px;
        padding-top: 20px;
    }
    
    .img_novedades{
        width: 500px;
        height: auto;
        margin: auto;
        grid-area: a2;
        text-align: center;
    }
    .texto_1{
        font-family: $fuentes;
        display: inline-block;
        text-align: center;
        padding-top: 10px;
        padding-left: 40px;
        grid-area: a3;
        
    }
     
}

@media only screen and (max-width:600px){
    .grid_article{
        .portada{
            height: 40%;
            width: 40%;
      
         }
      
         .img_novedades{
            display: flex;
            text-align: center;
            width: 90%;
         }
         
         .texto_1{
            text-align: center;
            font-size: x-small;
            padding-right: 40px;
         }
      
    }
   
 
}
 

/*comienzo estructura grid*/
.grid_bio{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-areas: "a1 a1"
                         "a2 a3";
    .grid_titulo{
        grid-area: a1;
        
    .titulo_bio{
        color: $color-titulos;
        font-family: $fuentes;
        text-align: center;
        padding-top: 15px;
         
        }
    }

    .card-erlend{
        display: flex;
        grid-area: a2;
        justify-content: space-evenly;
        
        @mixin subtitulo_bio{
            font-family: $fuentes;
            display: block;
            text-align: center;
            padding-top: 15px;
        }
        
        .subtitulo_erlend{
            color: $color-titulos;
            @include subtitulo_bio;
        }
    }

    .card-eirik{
        display: flex;
        grid-area: a3;
        justify-content: space-evenly;
        
        @mixin subtitulo_bio{
            font-family: $fuentes;
            display: block;
            text-align: center;
            padding-top: 15px;
        }
        
        .subtitulo_eirik{
            color: $color-titulos;
            @include subtitulo_bio;
        }
    }
    

}
/*fin estructura grid*/
/* media q bio*/
 
@media only screen and (max-width:600px){
    .portada{
        height: 40%;
        width: 40%;
    }
    
    .grid_bio{
       display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: 5% 30% 30%;
       grid-template-areas: "a1"
                            "a2"
                            "a3";
    }
    
    .grid_titulo{
       grid-area: a1;
       
    } 
    .grid_erlend{
       grid-area: a2;
 
    }  
 
    .grid_eirik{
       grid-area: a3;
       padding-top: 200px;
 
    }
 
    .card-erlend{
        display: flex;
        flex-wrap: wrap;
 
    }
 
    .card-eirik{
       padding-top: 80%;
       display: flex;
       flex-wrap: wrap;
 
    }
}  
 /*Grid fechas*/

 .grid_fechas{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr;
    grid-template-areas: "a1"
                         "a2";
    .titulo_fechas{
        color:$color-titulos;
        font-family: $fuentes;
        display: block;
        text-align: center;
        padding-top: 15px;
        grid-area: a1;
    }
    .subtitulo_fechas{
        color: $color-titulos;
        font-family: $fuentes;
        display: block;
        text-align: center;
        padding-top: 15px;
        grid-area: a1;
    }
    .fechas{
        padding-top: 20px;
        font-family: $fuentes;
        text-align: center;
        padding-bottom: 30px;
        grid-area: a2;
        list-style: none;

     
    }  
     
}

   
     

 
 
/*grid discografia*/

.discografia_grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr;
    grid-template-areas: "a1"
                         "a2";
    justify-items: center;
    .titulo_grid{
        grid-area: a1;
    }
    
    .titulo_disco{
        color: $color-titulos;
        font-family: $fuentes;
        text-align: center;
        padding-top: 15px;
    }
    
    .carousel-item{
        height: auto;
        width: 400px;
        
    }
       
    .carousel-control-prev-icon {
        height: 100px;
        width: 100px;
        outline: black;
        background-size: 100%, 100%;
        background-image: none;
        padding-right: 130px;
    
        &:after{
            content: '<';
            font-size: 55px;
            color: black;
        }

    }
     
    .carousel-control-next-icon {
        height: 100px;
        width: 100px;
        outline: black;
        background-size: 100%, 100%;
        background-image: none;
        padding-left: 80px;
        
        &:after{
            content: '>';
            font-size: 55px;
            color: black;
        }    
     
    }
    
    @media only screen and (max-width:600px){
        .discografia_grid{
           display: grid;
           grid-template-columns: 200px ;
           grid-template-rows: 200px ;
           grid-template-areas: "a1"
                                "a2";
           justify-items: left;
           padding-left: 50px;
        }
         
        .carousel-item{
            height: auto;
            width: 200px;
        }
    
        .titulo_disco{
           padding-bottom: 10px;
     
        }
        
        .titulo_grid{
           grid-area: a1;
           
        }
           
        .tabla_grid{
           grid-area: a2;
           padding-bottom: 20px;
           
        }
     
        .iframe_grid{
           grid-area: a2;
     
        }
     }  
   
}
 
/*fin grid disografia*/
 


/*grid contacto*/


.grid_contact{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30%;
    grid-template-areas: "a1"
                         "a2";
    padding-bottom: 150px;
    
    .titulo_contacto{
        color: $color-titulos;
        font-family: $fuentes;
        text-align: center;
        display: block;
        padding-top: 10px;
        grid-area: a1;
        
    }
          
}
