 /*Estido header*/
 header{
    font-family: $fuentes;
    border: 2px solid rgb(235, 159, 159);
     
    .portada_flex{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-top: 20px;
    }
    .navbar-nav :hover{
   
        transform: scale(1, 1);
        color: $color-titulos;
     
    }

    .navbar-nav{
        position: relative;
        left: 50%;
        transform: translatex(-50%);
    }

    @media only screen and (max-width:600px){

        .portada_flex{
            display: inline-block;
            
        }
    
    
    }
        
    
}

      
   

