 /*Estido header*/
 header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:whitesmoke;
    border: 2px solid rgb(235, 159, 159);

    .nav_flex{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-top: 20px;
    }
     
    .portada_flex{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-top: 20px;
    }
    
    .nav_boot :hover{
   
        transform: scale(1.2, 1.2);
        color: rgb(255, 119, 0);
     
    }

}

 /*NAV FLEX*/