$color-fondo : #FFC18E; 
$color-titulos:rgb(255, 119, 0);
$fuentes:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$borde: 3px solid rgb(235, 159, 159);