@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box; }

main {
  background-color: #FFC18E; }

/*estilo footer*/
footer {
  display: flex;
  background-color: whitesmoke;
  border: 3px solid #eb9f9f;
  justify-content: center;
  flex-direction: row; }
  footer :hover {
    box-shadow: 5px;
    color: blueviolet;
    transform: scale(1.2, 1.2); }
  footer a {
    text-decoration: none;
    color: #ff7700; }
  footer .icon_twitter {
    font-size: 30px;
    padding-right: 25px; }
  footer .icon_facebook {
    font-size: 30px;
    padding-right: 25px; }
  footer .icon_instagram {
    font-size: 30px;
    padding-right: 25px; }

/*grilla index*/
.grid_article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 33% 33% 33%;
  grid-template-areas: "a1" "a2" "a3"; }
  .grid_article .subtitulo {
    color: #ff7700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 20px; }
  .grid_article .img_novedades {
    width: 500px;
    height: auto;
    margin: auto;
    grid-area: a2;
    text-align: center; }
  .grid_article .texto_1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    margin: 50px;
    grid-area: a3; }

@media only screen and (max-width: 600px) {
  .grid_article .portada {
    height: 40%;
    width: 40%; }
  .grid_article .img_novedades {
    display: flex;
    text-align: center;
    width: 90%; }
  .grid_article .texto_1 {
    text-align: center;
    font-size: smaller; } }

/*comienzo estructura grid*/
.grid_bio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr;
  grid-template-areas: "a1 a1" "a2 a3"; }
  .grid_bio .grid_titulo {
    grid-area: a1; }
    .grid_bio .grid_titulo .titulo_bio {
      color: #ff7700;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-align: center;
      padding-top: 15px; }
  .grid_bio .card-erlend {
    display: flex;
    grid-area: a2;
    justify-content: space-evenly; }
    .grid_bio .card-erlend .subtitulo_erlend {
      color: #ff7700;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      display: block;
      text-align: center;
      padding-top: 15px; }
  .grid_bio .card-eirik {
    display: flex;
    grid-area: a3;
    justify-content: space-evenly; }
    .grid_bio .card-eirik .subtitulo_eirik {
      color: #ff7700;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      display: block;
      text-align: center;
      padding-top: 15px; }

/*fin estructura grid*/
/* media q bio*/
@media only screen and (max-width: 600px) {
  .portada {
    height: 40%;
    width: 40%; }
  .grid_bio {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 30% 30%;
    grid-template-areas: "a1" "a2" "a3"; }
  .grid_titulo {
    grid-area: a1; }
  .grid_erlend {
    grid-area: a2; }
  .grid_eirik {
    grid-area: a3;
    padding-top: 200px; }
  .card-erlend {
    display: flex;
    flex-wrap: wrap; }
  .card-eirik {
    padding-top: 50%;
    display: flex;
    flex-wrap: wrap; } }

/*estilo secciòn fechas*/
/*grid*/
.grid_fechas {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr;
  grid-template-areas: "a1" "a2"; }
  .grid_fechas .titulo_fechas {
    color: #ff7700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    text-align: center;
    padding-top: 15px;
    grid-area: a1; }
  .grid_fechas .subtitulo_fechas {
    color: #ff7700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    text-align: center;
    padding-top: 15px;
    grid-area: a1; }
  .grid_fechas .fechas {
    padding-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding-bottom: 30px;
    grid-area: a2;
    list-style: none; }
    .grid_fechas .fechas i {
      color: #ff7700; }

/*estilo discografia*/
/*grid discografia*/
.discografia_grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr;
  grid-template-areas: "a1" "a2";
  justify-items: center; }
  .discografia_grid .titulo_grid {
    grid-area: a1; }
  .discografia_grid .titulo_disco {
    color: #ff7700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 15px; }
  .discografia_grid .carousel-item {
    height: auto;
    width: 200px; }
  .discografia_grid .carousel-control-prev-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    background-image: none;
    padding-right: 130px; }
    .discografia_grid .carousel-control-prev-icon:after {
      content: '<';
      font-size: 55px;
      color: black; }
  .discografia_grid .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    background-image: none;
    padding-left: 80px; }
    .discografia_grid .carousel-control-next-icon:after {
      content: '>';
      font-size: 55px;
      color: black; }

/*fin grid disografia*/
@media only screen and (max-width: 600px) {
  .discografia_grid {
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 200px;
    grid-template-areas: "a1" "a2";
    justify-items: left;
    padding-left: 50px; }
  .titulo_disco {
    padding-bottom: 10px; }
  .titulo_grid {
    grid-area: a1; }
  .tabla_grid {
    grid-area: a2;
    padding-bottom: 20px; }
  .iframe_grid {
    grid-area: a2; } }

/*Estilo seccion contacto*/
/*grid contacto*/
.grid_contact {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30%;
  grid-template-areas: "a1" "a2";
  padding-bottom: 150px; }
  .grid_contact .titulo_contacto {
    color: #ff7700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    text-align: center;
    padding-top: 15px;
    grid-area: a1; }
  .grid_contact form {
    width: 335px;
    min-height: 100px;
    margin: auto;
    padding-left: 50px;
    border-radius: 2em;
    background-color: #df7534;
    grid-area: a2; }
    .grid_contact form .mb-3 {
      width: auto;
      display: inline-block;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin-top: 10px; }
    .grid_contact form .form-floating {
      width: auto;
      display: inline-block;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin-top: 10px; }
    .grid_contact form .form-check {
      width: auto;
      display: inline-block;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin-top: 10px; }
    .grid_contact form .col-12 {
      width: auto;
      display: inline-block;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      padding-bottom: 10px;
      margin-top: 10px; }

@media only screen and (max-width: 600px) {
  form {
    width: 300px;
    min-height: 100px;
    margin: auto;
    margin-top: 30px;
    padding-left: 20px;
    grid-area: a2;
    font-size: small; } }

/*Estido header*/
header {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: whitesmoke;
  border: 2px solid #eb9f9f; }
  header .nav_flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 20px; }
  header .portada_flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 20px; }
  header .nav_boot :hover {
    transform: scale(1.2, 1.2);
    color: #ff7700; }

/*NAV FLEX*/
