@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

*{
   padding: 0%;
   margin: 0%;
   box-sizing: border-box;
}
/*Estido header*/
header{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background-color:whitesmoke;
   border: 2px solid rgb(235, 159, 159);
}
   
   
/*NAV FLEX*/

.nav_flex{
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;
   padding-top: 20px;
}


.portada_flex{
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;
   padding-top: 20px;
}


/*ANIMACIONES*/
.nav_boot :hover{
   
   transform: scale(1.2, 1.2);
   color: rgb(255, 119, 0);

}

.iframe_grid :hover{

   width: 700px;
}

footer :hover{
   box-shadow: 5px;
   color: blueviolet;
   transform: scale(1.2,1.2);

}

.grid_eirik :hover{
   transform: scale(1.2,1.2);

}

.grid_erlend :hover{
   transform: scale(1.2,1.2);
}


/*Comienzo grid index*/
.grid_article{
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 33% 33% 33%;
   grid-template-areas: "a1"
                        "a2"
                        "a3";
}

.subtitulo{
   color:rgb(255, 119, 0);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   display: block;
   text-align: center;
   padding-bottom: 25px;
   padding-top: 20px;
   grid-area: a1;
   
}

.img_novedades{
   width: 500px;
   height: auto;
   margin: auto;
   grid-area: a2;
   text-align: center;
}

.texto_1{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   display: inline-block;
   text-align: center;
   padding-top: 20px;
   padding-bottom: 15px;
   margin: 50px;
   grid-area: a3;
   
}

/*Media queries*/

@media only screen and (max-width:600px){
   
   .portada{
      height: 40%;
      width: 40%;

   }

   .img_novedades{
      text-align: center;
      width: 90%;
   }

   .texto_1{
      text-align: center;
      font-size: smaller;

   }

}

  

/*estilo footer*/
.foot_flex{
   display: flex;
   background-color:whitesmoke;
   border: 3px solid rgb(235, 159, 159);
   justify-content: center;
   flex-direction: row;
}

.icon_twitter{
   font-size: 30px;
   padding-right: 25px;
}

.icon_facebook{
   font-size: 30px;
   padding-right: 25px;

}

.icon_instagram{
   font-size: 30px;
   padding-right: 25px;
}

.form{
   width: 350px;
   min-height: 100px;
   margin: auto;
   margin-top: 50px;
   padding-left: 50px;
   border-radius: 2em;
   background-color: rgb(223, 117, 52);


}



/*estilo fondo*/
main{
  background-color: #FFC18E;
}

/*estilo seccion biografias*/
/*comienzo estructura grid*/
.grid_bio{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 0.5fr 0.5fr;
   grid-template-areas: "a1 a1"
                        "a2 a3";

}
                        
.grid_titulo{
   grid-area: a1;
   
}  

.card-erlend{
   display: flex;
   grid-area: a2;
   justify-content: space-evenly;
   
}

.card-eirik{
   display: flex;
   grid-area: a3;
   justify-content: space-evenly;
}
   

/*fin estructura grid*/

.titulo_bio{
   color: rgb(255, 119, 0);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-align: center;
   padding-top: 15px;

}  

.subtitulo_erlend{
   color: rgb(255, 119, 0);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   display: block;
   text-align: center;
   padding-top: 15px;
}


.bio_1{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   display: inline-block;
   text-align: center;
   padding-top: 20px;
   padding-bottom: 15px;
   margin: 50px;
}
   

.subtitulo_eirik{
   color: rgb(255, 119, 0);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   display: block;
   text-align: center;
   padding-top: 15px;

}

.card-body{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   display: inline-block;
   text-align: center;
   padding-top: 20px;
   padding-bottom: 15px;
   margin: 50px;
}

@media only screen and (max-width:600px){
   .grid_bio{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 5% 30% 30%;
      grid-template-areas: "a1"
                           "a2"
                           "a3";
   }
   
   .grid_titulo{
      grid-area: a1;
      
   } 
   .grid_erlend{
      grid-area: a2;

   }  

    .grid_eirik{
      grid-area: a3;
      padding-top: 200px;

   }

   .card-erlend{
   display: flex;
   flex-wrap: wrap;

   }

   .card-eirik{
      padding-top: 50%;
      display: flex;
      flex-wrap: wrap;

   }

}



/*estilo secciòn fechas*/
/*grid*/
.grid_fechas{
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 0.5fr;
   grid-template-areas: "a1"
                        "a2";
   
}

.titulo_fechas{
   color: rgb(255, 119, 0);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   display: block;
   text-align: center;
   padding-top: 15px;
   grid-area: a1;
}

.subtitulo_fechas{
   color: rgb(255, 119, 0);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   display: block;
   text-align: center;
   padding-top: 15px;
   grid-area: a1;
}

.fechas{
   padding-top: 20px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-align: center;
   padding-bottom: 30px;
   grid-area: a2;
   list-style: none;

}  


/*estilo discografia*/
/*grid discografia*/

.discografia_grid{
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 0.5fr;
   grid-template-areas: "a1"
                        "a2";
   justify-items: center;
}

.titulo_grid{
   grid-area: a1;
}

.carousel-control-next-icon {
   height: 100px;
   width: 100px;
   outline: black;
   background-size: 100%, 100%;
   background-image: none;
   padding-left: 80px;
 }

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}


/*fin grid disografia*/

@media only screen and (max-width:600px){
   .discografia_grid{
      display: grid;
      grid-template-columns: 30% ;
      grid-template-rows: 30% ;
      grid-template-areas: "a1"
                           "a2";
      justify-items: left;
   }
      
   .titulo_grid{
      grid-area: a1;
      }
      
   .tabla_grid{
      grid-area: a2;
      font-size: smaller;
      display: none;
   }

   .iframe_grid{
      grid-area: a1;
      padding-right: 100px;
      padding-top: 100px;
   }


}
     
.carousel-item{
   height: auto;
   width: 400px;
   
}
 

.temas{
   display: inline-block;
   align-items: center;
}
.titulo_disco{
   color: rgb(255, 119, 0);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-align: center;
   padding-top: 15px;
}

/* estilo a links*/
footer a{
   text-decoration: none;
}

nav a{
   margin-top: 1.5rem;
   border-radius: 5rem;
   padding: 0.5rem 1.5rem;
   text-decoration: none;
   color: rgb(235, 159, 159)
}
   
div a{
   text-decoration: none;
   color:rgb(255, 119, 0)
}

/*Estilo seccion contacto*/
/*grid contacto*/
.grid_contact{
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 30%;
   grid-template-areas: "a1"
                        "a2";
   padding-bottom: 150px;
}

.titulo_contacto{
   color: rgb(255, 119, 0);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   display: block;
   text-align: center;
   padding-top: 15px;
   grid-area: a1;
}

form{
   width: 350px;
   min-height: 100px;
   margin: auto;
   padding-left: 50px;
   border-radius: 2em;
   background-color: rgb(223, 117, 52);
   grid-area: a2;
   
}

.mb-3{
   width: auto;
   display: inline-block;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin-top: 10px;
}

.form-floating{
   width: auto;
   display: inline-block;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin-top: 10px;

}

.form-check{
   width: auto;
   display: inline-block;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin-top: 10px;
}

.col-12{
   width: auto;
   display: inline-block;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   padding-bottom: 10px;
   margin-top: 10px;

}

@media only screen and (max-width:600px){
   form{
      width: 280px;
      min-height: 100px;
      margin: auto;
      margin-top: 40px;
      padding-left: 20px;
      grid-area: a2;
      font-size: small;
   }

}
